$w: 100px;
$h: 100px;
body{
    display: flex;
    justify-content: center;
}
#one{
    width: $w*7;
    #two{
        width: $w*3;
        height: $w*2;
        float: left;
        div{
            width: $w;
            height: $h;
            float: left;
            img{
                width: $w;
                height: $h;
                float: left;
            }
        };
    };
    #three{
        width: $w*2;
        height: $w*3;
        float: right;
        div{
            width: $w*2;
            height: $w*1.5;
            img{
                width: $w*2;
                height: $w*1.5;
            }
        }
    }
    #four{
        width: $w*2;
        height: $w*3;
        float: right;
        div{
            width: $w;
            height: $w;
            float: left;
            img{
                width: $w;
                height: $w;
            }
        }
        div:nth-child(3){
            width: $w*2;
            height: $w*2;
            float: left;
            img{
                width: $w*2;
                height: $w*2;
            }
        }
    }
    // #five{
    //     width: $w*2;
    //     height: $w*2;
    //     float: left;
    //     div{
    //         width: $w*2;
    //         height: $w*2;
    //         float: left;
    //         img{
    //             width: $w*2;
    //             height: $w*2;
    //             float: left;
    //         }
    //     }
    // }
    #six{
        width: $w*3;
        height: $w*2;
        float: left;
        div{
            width: $w*1.5;
            height: $w*1;
            float: left;
            img{
                width: $w*1.5;
                height: $w*1;
            }
        }
    }
    #seven{
        width: $w*4;
        height: $w;
        float: left;
        div{
            width: $w;
            height: $w;
            float: left;
            img{
                width: $w;
                height: $w;
            }
        }
    }
}
img:hover{
    animation: scale 2s forwards;
}
@keyframes scale {
    100%{
        transform: scale(2);
    }
}
